.contact {
  padding: 7rem 0;
  background-color: #fff;
  &__content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 3rem;
    @media only screen and (max-width: $bp-s-tablet-portrait) {
      grid-template-columns: 1fr;
    }
  }
}

#contact .form__group:last-child {
  text-align: start;
}

.char-left__wrap {
  margin-top: 3px;
  font-size: 1.5rem;
  color: $color-black;
}

.red {
  color: $color-red;
}
