.nav {
	z-index: 4000;
	position: fixed;
	// background-color: $color-black;
	top: 0;
	left: 0;
	width: 100%;
	&__wrap {
		padding: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media only screen and (max-width: $bp-s-tablet-portrait) {
			// flex-direction: row-reverse;
		}
	}
	&__menu {
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media only screen and (max-width: $bp-s-tablet-portrait) {
			// flex-direction: row-reverse;
			justify-content: space-between;
			gap: 0.5rem;
		}
	}
	&__logo {
		display: block;
		height: 2.8rem;
		margin-right: 1rem;
		@media only screen and (max-width: $bp-s-tablet-portrait) {
			display: none;
		}
	}
	&__link,
	&__link:focus {
		display: block;
		text-transform: uppercase;
		padding: 0.6rem 1rem;
		text-align: center;
		font-weight: 600;
		font-size: 1.4rem;
		color: $color-white;
		text-decoration: none;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
		transition: all 0.3;

		&:hover,
		&:active {
			color: $color-primary;
		}
		&:active {
			transform: translateY(1px);
		}

		@media only screen and (max-width: $bp-s-tablet-portrait) {
			font-size: 2rem;
			font-weight: 600;
		}
	}
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.3rem;
		&--img {
			height: 1.5rem;
			width: 1.5rem;
			fill: $color-white;
			margin-right: 0.2rem;
			transition: all 0.1s;

			@media only screen and (max-width: $bp-s-tablet-portrait) {
				display: none;
			}

			@media only screen and (max-width: $bp-xs-phone) {
				display: block;
				height: 3rem;
				width: 3rem;
				transform: rotate(10deg);

				&::after {
					content: 'POZOVI';
					height: 100px;
					width: 100px;
					font-size: 1.6;
				}
			}
		}
		&--text1 {
			margin-right: 0.5rem;
			text-align: end;
			font-weight: 600;

			@media only screen and (max-width: $bp-s-tablet-portrait) {
				display: none;
			}
		}
		&--text2 {
			font-weight: 400;
			color: $color-gray-light;
		}
	}
	&__btn--1:link,
	&__btn--1:visited {
		display: block;
		text-decoration: none;
		font-size: 2rem;
		font-weight: 600;
		color: $color-white;
		transition: all 0.1s;
	}
	&__btn--1:hover,
	&__btn--1:active {
		color: $color-primary;
	}
	&__btn--1:hover > svg,
	&__btn--1:active > svg {
		fill: $color-secondary;
	}
	&__btn--2,
	&__btn--2:focus {
		display: inline-block;
		font-family: $font-heading;
		margin-left: 1.5rem;
		color: $color-white;
		background-color: $color-primary;
		border: none;
		text-transform: uppercase;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 600;
		// line-height: 1.4;
		padding: 1.2rem;
		border-radius: 23px;
		min-width: 18.5rem;
		cursor: pointer;
		outline: none;
		transition: all 0.2s;
	}
	&__btn--2:hover,
	&__btn--2:active {
		opacity: 0.9;
	}
	&__btn--2:active {
		transform: translateY(1px);
	}
	&__usluge {
		// Hide the bar
		visibility: collapse;
		opacity: 0;
		height: 0;
		// End hide
		display: flex;
		background-color: transparent;
		justify-content: flex-start;
		align-items: center;
		@media only screen and (max-width: $bp-tablet-landscape) {
			flex-direction: column;
			align-items: flex-start;
		}
		&__link:link,
		&__link:visited {
			font-size: 1.4rem;
			font-weight: 600;
			text-decoration: none;
			letter-spacing: 1px;
			color: $color-white;
			display: block;
			text-transform: uppercase;
			padding: 1.2rem 2rem;
			border-radius: 4px;
			transition: all 0.2s;
		}
		&__link:hover,
		&__link:active {
			background-color: rgba(0, 0, 0, 0.1);
		}
		&__link:active {
			transform: translateY(1px);
		}
	}
}
.minitext {
	font-size: 1.4rem;
	font-weight: 400;
	color: $color-gray-light;
	text-transform: none;
	display: block;
	margin-top: 0.5rem;
	opacity: 0.7;
}
.elaborate {
	@media only screen and (max-width: $bp-s-tablet-portrait) {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		& span {
			@media only screen and (max-width: $bp-xs-phone) {
				display: none;
			}
		}
	}
	@media only screen and (max-width: $bp-s-phone) {
		flex-direction: column;
	}
}
.nav--show {
	background-color: $color-black;
}
.nav__usluge--show {
	visibility: visible;
	opacity: 1;
	height: auto;
	padding-bottom: 1.5rem;
}
