// FONTS
$font-heading: 'Montserrat', sans-serif;
$font-body: 'Montserrat', sans-serif;
// COLOR THEME
$color-primary: #1e7be2;
$color-primary-dark: #144e90;
$color-secondary: #f3a536;
$color-red: #e74c3c;
$color-green: #2ecc71;
$color-white: #fff;
$color-gray-light: #ecf0f1;
$color-gray-lighty: #d8d8d8;
$color-gray-lightmaster: #f9f9f9;
$color-gray-medium: #6d7579;
$color-gray-dark: #4a5155;
$color-black: #363946;
// Media query breakpoints
$bp-huge: 90em;
$bp-laptop: 86.5em;
$bp-laptopsmall: 77em;
$bp-tablet-landscape: 75em;
$bp-tablet-portrait: 65em;
$bp-s-tablet-portrait: 54em;
$bp-xl-phone: 44em;
$bp-l-phone: 40em;
$bp-m-phone: 32.5em;
$bp-s-phone: 30em;
$bp-xs-phone: 25em;
$bp-retro-phone: 17.5em;
