@import 'variables';
@import 'base';
@import 'typography';
@import 'utilities';
@import 'nav';
@import 'modal';
@import 'form';
@import 'cta';
@import 'footer';
@import 'spinner';

.login-wrapper {
	height: 90vh;
	background: $color-primary-dark;
	// background: url('/img/hero.jpg');
	background-position: right;
	// background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;

	& h1 {
		font-size: 3rem;
		margin-bottom: 2rem;
		text-transform: capitalize;
		color: $color-black;
	}
}

.form-wrapper {
	margin: 0 auto;
	max-width: 50rem;
	color: $color-black;
	background: $color-white;
	padding: 3rem 2rem;
}

.form {
	&__group:nth-child(2) {
		margin-bottom: 3rem;
	}
}

.login-warn {
	margin-top: 1rem;
	font-size:1.5rem;
	color:white;
	background: $color-warn;
	padding: 1rem 1.5rem
}