@font-face {
  font-display: swap;
  font-family: Montserrat;
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-display: swap;
  font-family: Montserrat;
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-display: swap;
  font-family: Montserrat;
  src: url(/fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: 600;
  font-style: normal; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::selection {
  color: #fff;
  background: #1e7be2; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif; }
  @media only screen and (max-width: 40em) {
    html {
      font-size: 57%; } }
  @media only screen and (max-width: 32.5em) {
    html {
      font-size: 50%; } }

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 300;
  line-height: 150%;
  background-color: #f9f9f9; }

.heading__1 {
  font-size: 5rem;
  line-height: 1.1;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 1.5rem 0;
  text-align: center; }

.heading__2 {
  font-size: 2.3rem;
  font-weight: 400;
  text-align: center;
  line-height: 150%; }

.heading__3 {
  font-size: 3rem;
  color: #4a5155;
  text-align: center;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 2rem; }
  .heading__3--mod {
    color: #fff; }

.heading__terzo {
  font-weight: 600;
  font-size: 3rem;
  line-height: 150%;
  color: #fff;
  text-align: center;
  display: block;
  margin: 0 2rem; }

.heading__4 {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  line-height: 150%;
  max-width: 42rem; }
  .heading__4--mod {
    position: relative;
    margin: 8rem 0 2rem 0; }
    @media only screen and (max-width: 40em) {
      .heading__4--mod {
        margin: 12rem 0 2rem 0; } }
    @media only screen and (max-width: 32.5em) {
      .heading__4--mod {
        margin: 16rem 0 2rem 0; } }

.heading__secondary {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.1;
  color: #fff; }

.heading__special {
  font-size: 1.8rem;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 1px;
  color: #f3a536;
  text-transform: uppercase;
  margin-bottom: 1rem; }

.bodytext {
  color: #6d7579;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%; }

.supertext {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 150%;
  text-align: center; }

.copyright {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 150%;
  padding: 1rem;
  color: #6d7579;
  text-align: center; }

.textest {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  margin-top: 2rem;
  color: #fff; }

.red {
  color: #e74c3c !important; }

.container {
  max-width: 117rem;
  width: 80%;
  margin: 0 auto; }
  @media only screen and (max-width: 44em) {
    .container {
      width: 85%;
      grid-template-columns: 1fr; } }

.nav__wrap {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.nav {
  z-index: 4000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  .nav__menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 54em) {
      .nav__menu {
        justify-content: space-between;
        gap: 0.5rem; } }
  .nav__logo {
    display: block;
    height: 2.8rem;
    margin-right: 1rem; }
    @media only screen and (max-width: 54em) {
      .nav__logo {
        display: none; } }
  .nav__link, .nav__link:focus {
    display: block;
    text-transform: uppercase;
    padding: 0.6rem 1rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3; }
    .nav__link:hover, .nav__link:active, .nav__link:focus:hover, .nav__link:focus:active {
      color: #1e7be2; }
    .nav__link:active, .nav__link:focus:active {
      transform: translateY(1px); }
    @media only screen and (max-width: 54em) {
      .nav__link, .nav__link:focus {
        font-size: 2rem;
        font-weight: 600; } }
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem; }
    .nav__list--img {
      height: 1.5rem;
      width: 1.5rem;
      fill: #fff;
      margin-right: 0.2rem;
      transition: all 0.1s; }
      @media only screen and (max-width: 54em) {
        .nav__list--img {
          display: none; } }
      @media only screen and (max-width: 25em) {
        .nav__list--img {
          display: block;
          height: 3rem;
          width: 3rem;
          transform: rotate(10deg); }
          .nav__list--img::after {
            content: 'POZOVI';
            height: 100px;
            width: 100px;
            font-size: 1.6; } }
    .nav__list--text1 {
      margin-right: 0.5rem;
      text-align: end;
      font-weight: 600; }
      @media only screen and (max-width: 54em) {
        .nav__list--text1 {
          display: none; } }
    .nav__list--text2 {
      font-weight: 400;
      color: #ecf0f1; }
  .nav__btn--1:link, .nav__btn--1:visited {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    transition: all 0.1s; }
  .nav__btn--1:hover, .nav__btn--1:active {
    color: #1e7be2; }
  .nav__btn--1:hover > svg,
  .nav__btn--1:active > svg {
    fill: #f3a536; }
  .nav__btn--2, .nav__btn--2:focus {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    margin-left: 1.5rem;
    color: #fff;
    background-color: #1e7be2;
    border: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.2rem;
    border-radius: 23px;
    min-width: 18.5rem;
    cursor: pointer;
    outline: none;
    transition: all 0.2s; }
  .nav__btn--2:hover, .nav__btn--2:active {
    opacity: 0.9; }
  .nav__btn--2:active {
    transform: translateY(1px); }
  .nav__usluge {
    visibility: collapse;
    opacity: 0;
    height: 0;
    display: flex;
    background-color: transparent;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 117rem; }
    @media only screen and (max-width: 75em) {
      .nav__usluge {
        flex-direction: column;
        align-items: flex-start; } }
    .nav__usluge__link:link, .nav__usluge__link:visited {
      font-size: 1.4rem;
      font-weight: 600;
      text-decoration: none;
      letter-spacing: 1px;
      color: #fff;
      display: block;
      text-transform: uppercase;
      padding: 1.2rem 2rem;
      border-radius: 4px;
      transition: all 0.2s;
      max-width: 22rem; }
    .nav__usluge__link:hover, .nav__usluge__link:active {
      background-color: rgba(0, 0, 0, 0.1); }
    .nav__usluge__link:active {
      transform: translateY(1px); }

.minitext {
  font-size: 1.4rem;
  font-weight: 400;
  color: #ecf0f1;
  text-transform: none;
  display: block;
  margin-top: 0.5rem;
  opacity: 0.7; }

@media only screen and (max-width: 54em) {
  .elaborate {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; } }
  @media only screen and (max-width: 54em) and (max-width: 25em) {
    .elaborate span {
      display: none; } }

@media only screen and (max-width: 30em) {
  .elaborate {
    flex-direction: column; } }

.nav--show {
  background-color: #363946; }

.nav__usluge--show {
  visibility: visible;
  opacity: 1;
  height: auto;
  padding-bottom: 1.5rem; }

.modal__bg {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.35);
  transition: opacity 0.2s;
  backdrop-filter: blur(7px); }

.modal__bg--show {
  visibility: visible;
  width: 100%;
  height: 100%;
  opacity: 1; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ecf0f1;
  z-index: 3;
  min-width: 35rem;
  padding: 2rem 4rem;
  overflow: hidden;
  border-radius: 4px;
  transition: opacity 0.2s;
  visibility: hidden;
  width: 0;
  height: 0;
  opacity: 0; }

.modal-container--show {
  visibility: visible;
  width: 50%;
  height: auto;
  opacity: 1; }
  @media only screen and (max-width: 65em) {
    .modal-container--show {
      width: 80%; } }
  @media only screen and (max-width: 30em) {
    .modal-container--show {
      width: 90%; } }

.modalform .modalform__group:not(:last-child) {
  margin-bottom: 1.5rem; }

.modalform .modalform .modalform__button {
  text-align: center; }

.modalform .modalform__group:nth-last-child(3) {
  margin-bottom: 0; }

.modalform .modalform__label {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #4a5155;
  text-transform: uppercase;
  display: block;
  transition: all 0.3s;
  line-height: 2.2rem; }
  .modalform .modalform__label .modalform__label span {
    font-weight: 300; }

.modalform .modalform__input {
  display: block;
  font-size: 1.5rem;
  color: #6d7579;
  border: 1px solid transparent;
  border-bottom-color: #6d7579;
  background-color: #ecf0f1;
  padding: 1rem 0.25rem;
  transition: all 0.2s;
  width: 100%; }
  .modalform .modalform__input:focus {
    outline: none;
    border-bottom-color: #2ecc71; }
  .modalform .modalform__input:focus:invalid {
    outline: none;
    border-bottom-color: #e74c3c; }
  .modalform .modalform__input::placeholder {
    color: #6d7579;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif; }

.modalform .modalform__textarea {
  border-color: #6d7579;
  border-radius: 4px;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  line-height: 150%;
  padding: 1rem 0.5rem;
  min-height: 11.5rem;
  resize: none; }
  .modalform .modalform__textarea::placeholder {
    font-size: 1.5rem; }
  .modalform .modalform__textarea:focus {
    outline: none;
    border-color: #2ecc71; }
  .modalform .modalform__textarea:focus:invalid {
    outline: none;
    border-color: #e74c3c; }

.modalform .modalform__button,
.modalform .modalform__button:focus {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f3a536;
  padding: 1.4rem 2rem; }

.modalform .modalform__button,
.modalform .modalform__button:focus {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #f3a536;
  padding: 1.4rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #f3a536;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  transition: all 0.2s;
  width: 25rem;
  outline: none;
  text-align: center;
  display: inline-block; }

.modalform .modalform__button:hover,
.modalform .modalform__button:active {
  opacity: 0.9; }

.modalform .modalform__button:active {
  transform: translateY(1px); }

#showmodal {
  visibility: visible;
  opacity: 1;
  height: 100%;
  width: 100%; }

#modal-message {
  margin-bottom: 0; }

#modal-mscl-wrapper {
  margin-bottom: 1.5rem; }

.header {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(/img/hero_gas.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 86.5em) {
    .header {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(/img/hero_gas_mobile.jpg); } }
  @media only screen and (max-width: 30em) {
    .header {
      height: 130vh; } }
  .header .header__half {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center; }
  .header .header__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem 3rem; }
    @media only screen and (max-width: 65em) {
      .header .header__wrap {
        grid-template-columns: 1fr; } }
  .header .header__calculator {
    background-color: #f9f9f9;
    padding: 2rem; }

.about {
  padding: 7rem 0; }
  .about .about__textwrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem; }
    @media only screen and (max-width: 54em) {
      .about .about__textwrap {
        grid-template-columns: 1fr; } }

.contact {
  padding: 7rem 0;
  background-color: #fff; }
  .contact .contact__content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 3rem; }
    @media only screen and (max-width: 54em) {
      .contact .contact__content {
        grid-template-columns: 1fr; } }

#contact .form__group:last-child {
  text-align: start; }

.form .flex .form__group {
  flex-grow: 1;
  align-items: center; }
  .form .flex .form__group:not(:last-child) {
    margin-right: 2rem; }

.form .form__group:not(:last-child) {
  margin-bottom: 1.5rem; }

.form .form__group:last-child {
  text-align: center; }

.form .form__label {
  text-align: start;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #4a5155;
  text-transform: uppercase;
  display: block;
  transition: all 0.3s;
  line-height: 2.2rem; }
  .form .form__label .form__label--mod {
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: initial; }
  .form .form__label .form__label--min {
    font-size: 1.4rem; }
  .form .form__label .form__label span {
    font-weight: 300; }

.form .form__input {
  display: block;
  font-size: 1.5rem;
  color: #6d7579;
  border: 1px solid transparent;
  border-bottom-color: #6d7579;
  background-color: #fff;
  padding: 1rem 0.25rem;
  transition: all 0.2s;
  width: 100%; }
  .form .form__input:focus {
    outline: none;
    border-bottom-color: #2ecc71; }
  .form .form__input:focus:invalid {
    outline: none;
    border-bottom-color: #e74c3c; }
  .form .form__input::placeholder {
    color: #6d7579;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif; }

.form .form__textarea {
  border-color: #6d7579;
  border-radius: 4px;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  line-height: 150%;
  padding: 1rem 0.5rem;
  min-height: 11.5rem;
  resize: none; }
  .form .form__textarea::placeholder {
    font-size: 1.5rem; }
  .form .form__textarea:focus {
    outline: none;
    border-color: #2ecc71; }
  .form .form__textarea:focus:invalid {
    outline: none;
    border-color: #e74c3c; }

.form .form__button,
.form .form__button:focus {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f3a536;
  padding: 1.4rem 2rem; }

.form .form__button,
.form .form__button:focus {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #f3a536;
  padding: 1.4rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #f3a536;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  transition: all 0.2s;
  width: 25rem;
  outline: none;
  display: inline-block;
  text-align: center; }

.form .form__button:hover,
.form .form__button:active {
  opacity: 0.9; }

.form .form__button:active {
  transform: translateY(1px); }

.phone-warn {
  background: #f33936;
  font-size: 1.6rem;
  padding: 1rem 1.5rem; }

.alert-fail {
  padding: 2rem;
  font-size: 1.5rem;
  background-color: rgba(231, 76, 60, 0.8);
  font-weight: 300;
  line-height: 150%; }
  .alert-fail .alert-fail p {
    text-align: center; }
  .alert-fail .alert-fail a,
  .alert-fail .alert-fail a:link,
  .alert-fail .alert-fail a:visited {
    color: #fff;
    font-weight: 400; }
    .alert-fail .alert-fail a:hover,
    .alert-fail .alert-fail a:link:hover,
    .alert-fail .alert-fail a:visited:hover {
      color: rgba(255, 255, 255, 0.8); }

.alert-success {
  padding: 3rem;
  font-size: 1.8rem;
  background-color: #2ecc71;
  font-weight: 400; }
  .alert-success .alert-success p {
    text-align: center; }

.alert-warn {
  padding: 3rem;
  font-size: 1.8rem;
  background-color: #e1b329;
  font-weight: 400; }
  .alert-warn .alert-warn p {
    text-align: center; }

.char-left__wrap {
  margin-top: 3px;
  font-size: 1.5rem;
  color: #363946; }

.cta {
  background-color: #1e7be2;
  padding: 5rem 3rem;
  text-align: center; }
  .cta .cta__btnwrap {
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 25em) {
      .cta .cta__btnwrap {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .cta .cta__btnwrap .cta a,
    .cta .cta__btnwrap .cta button {
      align-self: center;
      font-size: 1.4rem; }

.cta--1,
.cta--1:link,
.cta--1:visited {
  margin-right: 0.5rem;
  display: inline-block;
  text-decoration: none;
  color: #1e7be2;
  background-color: #fff;
  padding: 1.4rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #fff;
  line-height: 1;
  transition: all 0.2s;
  margin: 2rem 1rem;
  width: 25rem; }
  @media only screen and (max-width: 54em) {
    .cta--1,
    .cta--1:link,
    .cta--1:visited {
      width: 22rem; } }
  @media only screen and (max-width: 40em) {
    .cta--1,
    .cta--1:link,
    .cta--1:visited {
      margin: 10px; } }
  @media only screen and (max-width: 30em) {
    .cta--1,
    .cta--1:link,
    .cta--1:visited {
      width: fit-content; } }

.cta--1:hover,
.cta--1:active {
  opacity: 0.9; }

.cta--1:active {
  transform: translateY(1px); }

.cta--2,
.cta--2:focus {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #f3a536;
  padding: 1.4rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #f3a536;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  transition: all 0.2s;
  margin: 2rem 1rem;
  width: 25rem;
  outline: none; }
  @media only screen and (max-width: 54em) {
    .cta--2,
    .cta--2:focus {
      width: 22rem; } }
  @media only screen and (max-width: 40em) {
    .cta--2,
    .cta--2:focus {
      margin: 0 0 10px 0; } }
  @media only screen and (max-width: 30em) {
    .cta--2,
    .cta--2:focus {
      width: fit-content; } }

.cta--2:hover,
.cta--2:active {
  opacity: 0.9; }

.cta--2:active {
  transform: translateY(1px); }

.footer {
  background-color: #fff; }
  .footer .footer__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 54em) {
      .footer .footer__wrap {
        flex-direction: column;
        justify-content: center; } }
  .footer .footer__nav {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; }
    @media only screen and (max-width: 65em) {
      .footer .footer__nav {
        flex-wrap: wrap;
        justify-content: space-evenly; } }
    @media only screen and (max-width: 32.5em) {
      .footer .footer__nav {
        justify-content: center;
        justify-content: flex-start;
        flex-wrap: wrap; } }
    @media only screen and (max-width: 30em) {
      .footer .footer__nav {
        justify-content: center;
        flex-wrap: wrap; } }
    .footer .footer__nav .footer__nav__link:link,
    .footer .footer__nav .footer__nav__link:visited {
      display: inline-block;
      font-size: 1.5rem;
      color: #4a5155;
      line-height: 1;
      text-decoration: none;
      margin: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      padding: 0 0.25rem;
      border: 2px solid transparent;
      transition: all 0.2s;
      text-align: center; }
    .footer .footer__nav .footer__nav__link:hover,
    .footer .footer__nav .footer__nav__link:active {
      border-bottom-color: #1e7be2;
      color: #1e7be2; }
    .footer .footer__nav .footer__nav__link:active {
      transform: translateY(1px); }
  .footer .footer__menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer .footer__link:link,
  .footer .footer__link:visited {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s; }
  .footer .footer__link:hover,
  .footer .footer__link:active {
    transform: scale(1.05); }
  .footer .footer__link:active {
    transform: translateY(2px); }
  .footer .footer__icon {
    height: 5.5rem;
    width: 5.5rem;
    padding: 0.25rem;
    margin: 2rem;
    fill: #4a5155; }

.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-grow: 1; }

.span {
  color: #4a5155;
  font-size: 1.4rem;
  line-height: 150%;
  font-weight: 400; }
  .span--green {
    color: #2ecc71; }
  .span--l {
    font-size: 1.6rem; }

.span--blue:link,
.span--blue:visited {
  text-decoration: none;
  display: inline-block;
  color: #1e7be2; }

.span--blue:hover,
.span--blue:active {
  text-decoration: underline; }

.span--blue:active {
  transform: translateY(1px); }

.about {
  background: #fff; }
  .about .about__img {
    display: block;
    width: 100%;
    border-radius: 4px;
    align-self: stretch;
    object-fit: cover; }

.recenzije__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem; }
  @media only screen and (max-width: 65em) {
    .recenzije__wrap {
      grid-template-columns: 1fr; } }
  @media only screen and (max-width: 40em) {
    .recenzije__wrap {
      display: block; } }

.recenzije {
  background-color: #f9f9f9;
  padding: 7rem; }

@media only screen and (max-width: 40em) {
  .recenzije__wrapper.container {
    width: 100%; } }

.recenzija {
  background-color: #fff;
  color: #6d7579;
  border: 1px solid #ecf0f1;
  max-width: 450px; }
  @media only screen and (max-width: 65em) {
    .recenzija:not(:last-child) {
      margin: 3rem auto; } }
  @media only screen and (max-width: 65em) {
    .recenzija:last-child {
      margin: 0rem auto; } }
  .recenzija .recenzija__img {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ecf0f1; }
  .recenzija .recenzija__title {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    padding: 2rem;
    border-bottom: 1px solid #ecf0f1; }
  .recenzija .recenzija__wrap {
    padding: 2rem;
    height: content;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .recenzija .recenzija__desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%; }
  .recenzija .recenzija__signature {
    padding-top: 1rem;
    font-weight: 600;
    font-size: 1.6rem;
    color: #6d7579; }

#calcoutput {
  animation-name: enter;
  animation-duration: 0.4s;
  animation-timing-function: ease-in; }

@keyframes enter {
  0% {
    height: 0;
    opacity: 0; }
  20% {
    opacity: 0; }
  100% {
    height: 80px;
    opacity: 1; } }
