@font-face {
  font-display: swap;
  font-family: Montserrat;
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-display: swap;
  font-family: Montserrat;
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-display: swap;
  font-family: Montserrat;
  src: url(/fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: 600;
  font-style: normal; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::selection {
  color: #fff;
  background: #1e7be2; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif; }
  @media only screen and (max-width: 40em) {
    html {
      font-size: 57%; } }
  @media only screen and (max-width: 32.5em) {
    html {
      font-size: 50%; } }

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 300;
  line-height: 150%;
  background-color: #f9f9f9; }

.heading__1 {
  font-size: 5rem;
  line-height: 1.1;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 1.5rem 0;
  text-align: center; }

.heading__2 {
  font-size: 2.3rem;
  font-weight: 400;
  text-align: center;
  line-height: 150%; }

.heading__3 {
  font-size: 3rem;
  color: #4a5155;
  text-align: center;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 2rem; }
  .heading__3--mod {
    color: #fff; }

.heading__terzo {
  font-weight: 600;
  font-size: 3rem;
  line-height: 150%;
  color: #fff;
  text-align: center;
  display: block;
  margin: 0 2rem; }

.heading__4 {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  line-height: 150%;
  max-width: 42rem; }
  .heading__4--mod {
    position: relative;
    margin: 8rem 0 2rem 0; }
    @media only screen and (max-width: 40em) {
      .heading__4--mod {
        margin: 12rem 0 2rem 0; } }
    @media only screen and (max-width: 32.5em) {
      .heading__4--mod {
        margin: 16rem 0 2rem 0; } }

.heading__secondary {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.1;
  color: #fff; }

.heading__special {
  font-size: 1.8rem;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 1px;
  color: #f3a536;
  text-transform: uppercase;
  margin-bottom: 1rem; }

.bodytext {
  color: #6d7579;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%; }

.supertext {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 150%;
  text-align: center; }

.copyright {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 150%;
  padding: 1rem;
  color: #6d7579;
  text-align: center; }

.textest {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  margin-top: 2rem;
  color: #fff; }

.red {
  color: #e74c3c !important; }

.container {
  max-width: 117rem;
  width: 80%;
  margin: 0 auto; }
  @media only screen and (max-width: 44em) {
    .container {
      width: 85%;
      grid-template-columns: 1fr; } }

.nav {
  z-index: 4000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  .nav__wrap {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .nav__menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 54em) {
      .nav__menu {
        justify-content: space-between;
        gap: 0.5rem; } }
  .nav__logo {
    display: block;
    height: 2.8rem;
    margin-right: 1rem; }
    @media only screen and (max-width: 54em) {
      .nav__logo {
        display: none; } }
  .nav__link, .nav__link:focus {
    display: block;
    text-transform: uppercase;
    padding: 0.6rem 1rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3; }
    .nav__link:hover, .nav__link:active, .nav__link:focus:hover, .nav__link:focus:active {
      color: #1e7be2; }
    .nav__link:active, .nav__link:focus:active {
      transform: translateY(1px); }
    @media only screen and (max-width: 54em) {
      .nav__link, .nav__link:focus {
        font-size: 2rem;
        font-weight: 600; } }
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem; }
    .nav__list--img {
      height: 1.5rem;
      width: 1.5rem;
      fill: #fff;
      margin-right: 0.2rem;
      transition: all 0.1s; }
      @media only screen and (max-width: 54em) {
        .nav__list--img {
          display: none; } }
      @media only screen and (max-width: 25em) {
        .nav__list--img {
          display: block;
          height: 3rem;
          width: 3rem;
          transform: rotate(10deg); }
          .nav__list--img::after {
            content: 'POZOVI';
            height: 100px;
            width: 100px;
            font-size: 1.6; } }
    .nav__list--text1 {
      margin-right: 0.5rem;
      text-align: end;
      font-weight: 600; }
      @media only screen and (max-width: 54em) {
        .nav__list--text1 {
          display: none; } }
    .nav__list--text2 {
      font-weight: 400;
      color: #ecf0f1; }
  .nav__btn--1:link, .nav__btn--1:visited {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    transition: all 0.1s; }
  .nav__btn--1:hover, .nav__btn--1:active {
    color: #1e7be2; }
  .nav__btn--1:hover > svg,
  .nav__btn--1:active > svg {
    fill: #f3a536; }
  .nav__btn--2, .nav__btn--2:focus {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    margin-left: 1.5rem;
    color: #fff;
    background-color: #1e7be2;
    border: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.2rem;
    border-radius: 23px;
    min-width: 18.5rem;
    cursor: pointer;
    outline: none;
    transition: all 0.2s; }
  .nav__btn--2:hover, .nav__btn--2:active {
    opacity: 0.9; }
  .nav__btn--2:active {
    transform: translateY(1px); }
  .nav__usluge {
    visibility: collapse;
    opacity: 0;
    height: 0;
    display: flex;
    background-color: transparent;
    justify-content: flex-start;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .nav__usluge {
        flex-direction: column;
        align-items: flex-start; } }
    .nav__usluge__link:link, .nav__usluge__link:visited {
      font-size: 1.4rem;
      font-weight: 600;
      text-decoration: none;
      letter-spacing: 1px;
      color: #fff;
      display: block;
      text-transform: uppercase;
      padding: 1.2rem 2rem;
      border-radius: 4px;
      transition: all 0.2s; }
    .nav__usluge__link:hover, .nav__usluge__link:active {
      background-color: rgba(0, 0, 0, 0.1); }
    .nav__usluge__link:active {
      transform: translateY(1px); }

.minitext {
  font-size: 1.4rem;
  font-weight: 400;
  color: #ecf0f1;
  text-transform: none;
  display: block;
  margin-top: 0.5rem;
  opacity: 0.7; }

@media only screen and (max-width: 54em) {
  .elaborate {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; } }
  @media only screen and (max-width: 54em) and (max-width: 25em) {
    .elaborate span {
      display: none; } }

@media only screen and (max-width: 30em) {
  .elaborate {
    flex-direction: column; } }

.nav--show {
  background-color: #363946; }

.nav__usluge--show {
  visibility: visible;
  opacity: 1;
  height: auto;
  padding-bottom: 1.5rem; }

.modal__bg {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.35);
  transition: opacity 0.2s;
  backdrop-filter: blur(7px); }

.modal__bg--show {
  visibility: visible;
  width: 100%;
  height: 100%;
  opacity: 1; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ecf0f1;
  z-index: 3;
  min-width: 35rem;
  padding: 2rem 4rem;
  overflow: hidden;
  border-radius: 4px;
  transition: opacity 0.2s;
  visibility: hidden;
  width: 0;
  height: 0;
  opacity: 0; }

.modal-container--show {
  visibility: visible;
  width: 50%;
  height: auto;
  opacity: 1; }
  @media only screen and (max-width: 65em) {
    .modal-container--show {
      width: 80%; } }
  @media only screen and (max-width: 30em) {
    .modal-container--show {
      width: 90%; } }

.modalform__group:not(:last-child) {
  margin-bottom: 1.5rem; }

.modalform .modalform__button {
  text-align: center; }

.modalform__group:nth-last-child(3) {
  margin-bottom: 0; }

.modalform__label {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #4a5155;
  text-transform: uppercase;
  display: block;
  transition: all 0.3s;
  line-height: 2.2rem; }
  .modalform__label span {
    font-weight: 300; }

.modalform__input {
  display: block;
  font-size: 1.5rem;
  color: #6d7579;
  border: 1px solid transparent;
  border-bottom-color: #6d7579;
  background-color: #ecf0f1;
  padding: 1rem 0.25rem;
  transition: all 0.2s;
  width: 100%; }
  .modalform__input:focus {
    outline: none;
    border-bottom-color: #2ecc71; }
  .modalform__input:focus:invalid {
    outline: none;
    border-bottom-color: #e74c3c; }
  .modalform__input::placeholder {
    color: #6d7579;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif; }

.modalform__textarea {
  border-color: #6d7579;
  border-radius: 4px;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  line-height: 150%;
  padding: 1rem 0.5rem;
  min-height: 11.5rem;
  resize: none; }
  .modalform__textarea::placeholder {
    font-size: 1.5rem; }
  .modalform__textarea:focus {
    outline: none;
    border-color: #2ecc71; }
  .modalform__textarea:focus:invalid {
    outline: none;
    border-color: #e74c3c; }

.modalform__button, .modalform__button:focus {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f3a536;
  padding: 1.4rem 2rem; }

.modalform__button, .modalform__button:focus {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #f3a536;
  padding: 1.4rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #f3a536;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  transition: all 0.2s;
  width: 25rem;
  outline: none;
  text-align: center;
  display: inline-block; }

.modalform__button:hover, .modalform__button:active {
  opacity: 0.9; }

.modalform__button:active {
  transform: translateY(1px); }

#showmodal {
  visibility: visible;
  opacity: 1;
  height: 100%;
  width: 100%; }

#modal-message {
  margin-bottom: 0; }

#modal-mscl-wrapper {
  margin-bottom: 1.5rem; }

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.75)), url(/img/hero.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 86.5em) {
    .header {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.75)), url(/img/hero_small.jpg); } }
  @media only screen and (max-width: 65em) {
    .header {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.75)), url(/img/hero_mobile.jpg); } }
  .header__nav {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__link:link, .header__link:visited {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: 150%;
    font-size: 1.6rem;
    padding: .25rem;
    margin: 0 .5rem;
    border-bottom: 1px solid transparent;
    transition: all .2s; }
  .header__link:hover, .header__link:active {
    border-color: #fff; }
  .header__link:active {
    transform: translateY(1px); }
  .header__btn {
    text-align: center;
    margin-top: 2rem; }
  .header__btn--1:link, .header__btn--1:visited {
    display: inline-block;
    margin-right: .5rem;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    padding: 2.2rem;
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    border-radius: 40px;
    border: 1px solid #fff;
    line-height: 1;
    transition: all .2s; }
  .header__btn--1:hover, .header_btn--1:active {
    background-color: #fff;
    color: #1e7be2; }
  .header_btn--1:active {
    transform: translateY(1px); }
  .header__btn--2, .header__btn--2:focus {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #1e7be2;
    padding: 2.2rem;
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    border-radius: 40px;
    border: 1px solid #1e7be2;
    font-family: "Montserrat", sans-serif;
    line-height: 1;
    transition: all .2s;
    outline: none; }
  .header__btn--2:hover, .header__btn--2:active {
    opacity: .9; }
  .header__btn--2:active {
    transform: translateY(1px); }

.cards {
  padding: 7rem 1rem;
  background-color: #fff; }

@media only screen and (max-width: 65em) {
  .card {
    max-width: 60rem; } }

.card > *:not(:last-child) {
  margin-bottom: 2rem; }

.card__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  gap: 3rem; }
  @media only screen and (max-width: 65em) {
    .card__wrap {
      flex-direction: column; } }
  @media only screen and (max-width: 65em) {
    .card__wrap > *:not(:last-child) {
      margin-bottom: 2rem; } }

.card__img {
  display: inline-block;
  height: 5rem; }

.card__title {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #4a5155;
  line-height: 150%; }

.card__desc {
  font-size: 1.6rem;
  color: #6d7579;
  line-height: 150%; }

.card__link:link, .card__link:visited {
  text-decoration: none;
  color: #1e7be2;
  transition: all 0.2s;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600; }

.card__link:hover, .card__link:active {
  opacity: 0.9; }

.about {
  padding: 7rem 0; }
  .about__textwrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem; }
    @media only screen and (max-width: 54em) {
      .about__textwrap {
        grid-template-columns: 1fr; } }

.contact {
  padding: 7rem 0;
  background-color: #fff; }
  .contact__content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 3rem; }
    @media only screen and (max-width: 54em) {
      .contact__content {
        grid-template-columns: 1fr; } }

#contact .form__group:last-child {
  text-align: start; }

.char-left__wrap {
  margin-top: 3px;
  font-size: 1.5rem;
  color: #363946; }

.red {
  color: #e74c3c; }

.flex .form__group {
  flex-grow: 1;
  align-items: center; }
  .flex .form__group:not(:last-child) {
    margin-right: 2rem; }

.form__group:not(:last-child) {
  margin-bottom: 1.5rem; }

.form__group:last-child {
  text-align: center; }

.form__label {
  text-align: start;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #4a5155;
  text-transform: uppercase;
  display: block;
  transition: all 0.3s;
  line-height: 2.2rem; }
  .form__label--mod {
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: initial; }
  .form__label--min {
    font-size: 1.4rem; }
  .form__label span {
    font-weight: 300; }

.form__input {
  display: block;
  font-size: 1.5rem;
  color: #6d7579;
  border: 1px solid transparent;
  border-bottom-color: #6d7579;
  background-color: #fff;
  padding: 1rem 0.25rem;
  transition: all 0.2s;
  width: 100%; }
  .form__input:focus {
    outline: none;
    border-bottom-color: #2ecc71; }
  .form__input:focus:invalid {
    outline: none;
    border-bottom-color: #e74c3c; }
  .form__input::placeholder {
    color: #6d7579;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif; }

.form__textarea {
  border-color: #6d7579;
  border-radius: 4px;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  line-height: 150%;
  padding: 1rem 0.5rem;
  min-height: 11.5rem;
  resize: none; }
  .form__textarea::placeholder {
    font-size: 1.5rem; }
  .form__textarea:focus {
    outline: none;
    border-color: #2ecc71; }
  .form__textarea:focus:invalid {
    outline: none;
    border-color: #e74c3c; }

.form__button, .form__button:focus {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f3a536;
  padding: 1.4rem 2rem; }

.form__button, .form__button:focus {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #f3a536;
  padding: 1.4rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #f3a536;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  transition: all 0.2s;
  width: 25rem;
  outline: none;
  display: inline-block;
  text-align: center; }

.form__button:hover, .form__button:active {
  opacity: 0.9; }

.form__button:active {
  transform: translateY(1px); }

.phone-warn {
  background: #f33936;
  font-size: 1.6rem;
  padding: 1rem 1.5rem; }

.alert-fail {
  padding: 2rem;
  font-size: 1.5rem;
  background-color: rgba(231, 76, 60, 0.8);
  font-weight: 300;
  line-height: 150%; }
  .alert-fail p {
    text-align: center; }
  .alert-fail a,
  .alert-fail a:link,
  .alert-fail a:visited {
    color: #fff;
    font-weight: 400; }
    .alert-fail a:hover,
    .alert-fail a:link:hover,
    .alert-fail a:visited:hover {
      color: rgba(255, 255, 255, 0.8); }

.alert-success {
  padding: 3rem;
  font-size: 1.8rem;
  background-color: #2ecc71;
  font-weight: 400; }
  .alert-success p {
    text-align: center; }

.alert-warn {
  padding: 3rem;
  font-size: 1.8rem;
  background-color: #e1b329;
  font-weight: 400; }
  .alert-warn p {
    text-align: center; }

.char-left__wrap {
  margin-top: 3px;
  font-size: 1.5rem;
  color: #363946; }

.map {
  padding: 7rem 0;
  text-align: center; }
  .map__img {
    border: none;
    border-radius: 4px;
    display: block;
    height: 40rem;
    overflow: hidden;
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.09); }
  .map__icon {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    fill: #4a5155;
    transition: all 0.2s; }
  .map__btn, .map__btn:link, .map__btn:visited {
    display: inline-block;
    cursor: pointer;
    padding: 1.4rem 0;
    background-color: transparent;
    line-height: 150%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    color: #4a5155;
    border: 1px solid #d8d8d8;
    letter-spacing: 1px;
    border-radius: 40px;
    max-width: 45rem;
    transition: all 0.2s;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center; }
  .map__btn:hover, .map__btn:active {
    color: #1e7be2; }
  .map__btn:hover > svg,
  .map__btn:active > svg {
    fill: #1e7be2; }

.cta {
  background-color: #1e7be2;
  padding: 5rem 3rem;
  text-align: center; }
  .cta__btnwrap {
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 25em) {
      .cta__btnwrap {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .cta__btnwrap a,
    .cta__btnwrap button {
      align-self: center;
      font-size: 1.4rem; }

.cta--1:link,
.cta--1:visited {
  margin-right: 0.5rem;
  display: inline-block;
  text-decoration: none;
  color: #1e7be2;
  background-color: #fff;
  padding: 1.4rem 2rem;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #fff;
  line-height: 1;
  transition: all 0.2s;
  margin: 2rem 1rem;
  width: 25rem; }
  @media only screen and (max-width: 54em) {
    .cta--1:link,
    .cta--1:visited {
      width: 22rem; } }
  @media only screen and (max-width: 30em) {
    .cta--1:link,
    .cta--1:visited {
      width: 20rem; } }

.cta--1:hover,
.cta--1:active {
  opacity: 0.9; }

.cta--1:active {
  transform: translateY(1px); }

.cta--2,
.cta--2:focus {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #f3a536;
  padding: 1.4rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #f3a536;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  transition: all 0.2s;
  margin: 2rem 1rem;
  width: 25rem;
  outline: none; }
  @media only screen and (max-width: 54em) {
    .cta--2,
    .cta--2:focus {
      width: 22rem; } }
  @media only screen and (max-width: 30em) {
    .cta--2,
    .cta--2:focus {
      width: 20rem; } }

.cta--2:hover,
.cta--2:active {
  opacity: 0.9; }

.cta--2:active {
  transform: translateY(1px); }

.lds-ring {
  display: none;
  position: fixed;
  position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  z-index: 10000; }

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s; }

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.lds-ring--display {
  display: block; }

.overlay__bg {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.35);
  transition: opacity 0.2s;
  backdrop-filter: blur(7px); }

.overlay__bg--show {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1; }

.footer {
  background-color: #fff; }
  .footer__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 54em) {
      .footer__wrap {
        flex-direction: column;
        justify-content: center; } }
  .footer__nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media only screen and (max-width: 65em) {
      .footer__nav {
        justify-content: center; } }
    @media only screen and (max-width: 32.5em) {
      .footer__nav {
        justify-content: flex-start;
        flex-wrap: wrap; } }
    @media only screen and (max-width: 30em) {
      .footer__nav {
        justify-content: center;
        flex-wrap: wrap; } }
    .footer__nav__link:link, .footer__nav__link:visited {
      display: inline-block;
      font-size: 1.5rem;
      color: #4a5155;
      line-height: 1;
      text-decoration: none;
      margin: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      padding: 0 0.25rem;
      border: 2px solid transparent;
      transition: all 0.2s;
      text-align: center; }
    .footer__nav__link:hover, .footer__nav__link:active {
      border-bottom-color: #1e7be2;
      color: #1e7be2; }
    .footer__nav__link:active {
      transform: translateY(1px); }
  .footer__menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer__link:link, .footer__link:visited {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    transform: scale(1.05); }
  .footer__link:active {
    transform: translateY(2px); }
  .footer__icon {
    height: 5.5rem;
    width: 5.5rem;
    padding: 0.25rem;
    margin: 2rem;
    fill: #4a5155; }
