<!DOCTYPE html>
html(lang="sr-BA")
  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    .lds-ring
      div
      div
      div
      div
    #modal-container.modal
      form#modal-form.modalform(action='#')
        .modalform__group
          label.modalform__label(for='name') Ime
            span *
          input#modal-name.modalform__input(type='text' placeholder='Petar Petrović' required)
        .modalform__group
          label.modalform__label(for='tel') Broj telefona
            span *
          input#modal-phone.modalform__input(type='tel' placeholder='065701308' pattern="(^[0-9]{0,15}$(?![a-zA-Z])|^\\+[0-9]{0,15}$(?![a-zA-Z])|$^|^\\+$)" title="unesite validan broj telefona" required='')
        .modalform__group
          label.modalform__label(for='email') e-mail adresa
          input#modal-email.modalform__input(type='email' placeholder='petar@petrovic.com')
        .modalform__group
          label.modalform__label(for='info') Proizvođač i model automobila
            span *
          input#modal-car.modalform__input(type='text' placeholder='Alfa Romeo 156 2.0 twin spark')
        .modalform__group
          label.modalform__label(for='message') Poruka
            span *
          textarea#modal-message.modalform__input.modalform__textarea(name='message' placeholder='Želim da zakažem besplatan pregled automobila...' required='' maxlength='500')
        p#modal-mscl-wrapper.char-left__wrap
          span#modal-message-char-left 500
          | /500
        .modalform__group
          button.modalform__button(type='submit') Pošalji
    #modal-background.modal__bg
    #modal-background.overlay__bg
     //- Navigation
    nav#nav.nav
      .nav__wrap
        .nav__menu
          //- Logo button, leads to landing page
          a.nav__logo__link(href='/')
            img.nav__logo(src='/img/logowhite.svg' alt='Auto Gas Gaga logo')
          //- Usluge, dropdown on click
          button#ulsugeBtn.nav__link Usluge
        ul.nav__menu
          //- 3-piece call button
          li.nav__list.elaborate
            span.nav__list--text1
              | Imate pitanje?
              br
              span.nav__list--text2 Pozovite nas
            a.nav__btn--1(href='tel:+38765701308')
              svg.nav__list--img
                use(xlink:href='img/sprite.svg#icon-phone')
              span (+387) 65 701 308
          //- Pop up button
          li.nav__list
            button.nav__btn--2.showModalBtn Zatraži ponudu
      //- Dropdown links
      #nav__usluge.nav__usluge.container
        a.nav__usluge__link(href='/automehanicarskeusluge')
          | Automehaničarske usluge
          br
          span.minitext Pružamo sve vrste automehaničarkih usluga
        a.nav__usluge__link(href='/ugradnjaplina')
          | Auto gas
          br
          span.minitext Preko 20 godina aktivnog iskustva sa ugradnjom gasa
        a.nav__usluge__link(href='/slepsluzba')
          | Šlep Služba
          br
          span.minitext Uvijek Vam stojimo na raspolaganju
        a.nav__usluge__link(href='/eservisnaknjizica')
          | E Servisna knjižica
          br
          span.minitext Pristup za Vašu  e-servisnu knjižicu.
    //-CONTENT
    block content
    //- Plavi section
    section.cta
      .cta__wrap.container
        h3.heading__3.heading__3--mod Kako možemo da pomognemo?
        p.supertext
          | Uvijek smo Vam na raspolaganju
          br
          | Radno Vrijeme: Ponodeljak-Subota 9h do 17h
        .cta__btnwrap
          a.cta--1(href='tel:+38765701308') Pozovite nas
          button.cta--2.showModalBtn Zatraži ponudu
    //- Footer
    footer.footer
      .footer__wrap.container
        ul.footer__nav
          li.footer__nav__list
            a.footer__nav__link(href='/') HOME
          li.footer__nav__list
            a.footer__nav__link(href='/slepsluzba') Šlep služba
          li.footer__nav__list
            a.footer__nav__link(href='/automehanicarskeusluge') Automehaničarske usluge
          li.footer__nav__list
            a.footer__nav__link(href='/ugradnjaplina') Auto gas
          li.footer__nav__list
            a.footer__nav__link(href='/eservisnaknjizica') E Servisna Knjižica
        ul.footer__menu
          li
            a.footer__link(href='tel:+38765701308')
              svg.footer__icon
                use(xlink:href='img/sprite.svg#icon-phone')
          li
            a.footer__link(href='https://www.facebook.com/gaga.autogas/' target='_blank')
              svg.footer__icon
                use(xlink:href='img/sprite.svg#icon-facebook')
      p.copyright Copyright &copy; Auto Gas Gaga 2020 All Rights Reserved
    block scripts