.form {
  .flex .form__group {
    flex-grow: 1;
    align-items: center;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  .form__group:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .form__group:last-child {
    text-align: center;
  }
  .form__label {
    text-align: start;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: $color-gray-dark;
    text-transform: uppercase;
    display: block;
    transition: all 0.3s;
    line-height: 2.2rem;
    .form__label--mod {
      font-size: 1.4rem;
      font-weight: 300;
      text-transform: initial;
    }
    .form__label--min {
      font-size: 1.4rem;
    }

    .form__label span {
      font-weight: 300;
    }
  }
  .form__input {
    display: block;
    font-size: 1.5rem;
    color: $color-gray-medium;
    border: 1px solid transparent;
    border-bottom-color: $color-gray-medium;
    background-color: #fff;
    padding: 1rem 0.25rem;
    transition: all 0.2s;
    width: 100%;
    // letter-spacing: 1px;
    &:focus {
      outline: none;
      border-bottom-color: $color-green;
    }
    &:focus:invalid {
      outline: none;
      border-bottom-color: $color-red;
    }
    &::placeholder {
      color: $color-gray-medium;
      // placeholder stil tekst
      font-size: 1.5rem;
      font-weight: 400;
      font-family: $font-heading;
    }
  }
  .form__textarea {
    border-color: $color-gray-medium;
    border-radius: 4px;
    font-size: 1.5rem;
    font-family: $font-heading;
    // letter-spacing: 1px;
    line-height: 150%;
    padding: 1rem 0.5rem;
    min-height: 11.5rem;
    resize: none;
    &::placeholder {
      font-size: 1.5rem;
    }
    &:focus {
      outline: none;
      border-color: $color-green;
    }
    &:focus:invalid {
      outline: none;
      border-color: $color-red;
    }
  }
  .form__button,
  .form__button:focus {
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: $color-secondary;
    padding: 1.4rem 2rem;
  }
  .form__button,
  .form__button:focus {
    cursor: pointer;
    text-decoration: none;
    color: $color-white;
    background-color: $color-secondary;
    padding: 1.4rem 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid $color-secondary;
    font-family: $font-heading;
    line-height: 1;
    transition: all 0.2s;
    width: 25rem;
    outline: none;
    display: inline-block;
    text-align: center;
    // margin: 0 auto;
  }
  .form__button:hover,
  .form__button:active {
    opacity: 0.9;
  }
  .form__button:active {
    transform: translateY(1px);
  }
}

.phone-warn {
  background: $color-error;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
}

.alert-fail {
  padding: 2rem;
  font-size: 1.5rem;
  background-color: rgba($color-red, 0.8);
  font-weight: 300;
  line-height: 150%;

  .alert-fail p {
    text-align: center;
  }

  .alert-fail a,
  .alert-fail a:link,
  .alert-fail a:visited {
    color: $color-white;
    font-weight: 400;

    &:hover {
      color: rgba($color-white, 0.8);
    }
  }
}

.alert-success {
  padding: 3rem;
  font-size: 1.8rem;
  background-color: $color-green;
  font-weight: 400;

  .alert-success p {
    text-align: center;
  }
}

.alert-warn {
  padding: 3rem;
  font-size: 1.8rem;
  background-color: $color-warn;
  font-weight: 400;

  .alert-warn p {
    text-align: center;
  }
}

.char-left__wrap {
  margin-top: 3px;
  font-size: 1.5rem;
  color: $color-black;
}
